.pic{
    height:50vh;
    width:auto;
}
.bigdiv{
    width: 100%;
    padding-top:20vh;
    display:flex;
    flex-direction: row;
}
.col1{
    width:33.333%;
}
.col1 img{
    width:100%;
    height:auto;
}
.col2{
    width:33.333%;

}
.col2 img{
    width:100%;
    height:auto;
}
.col3{
    width:33.333%;

}
.col3 img{
    width:100%;
    height:auto;
}
